<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#fff248"/>

  <link rel="icon" href="/assets/icon-384x384.png">
  <link rel="apple-touch-icon" href="/assets/icon-384x384.png">
  <link rel="manifest" href="/assets/manifest.json" />

  <link href="/assets/styles.css" rel="stylesheet">
  <script src="/assets/alpine.js" defer=""></script>
  <script src="/assets/htmx.js" defer=""></script>
  <script src="/assets/compressor.js" defer=""></script>
  <script>
    // Compress before sending
    function compressFile(e) {
      const file = e.target.files[0];
      if (!file) return;
      console.log('Compressing', {file})
      new Compressor(file, {
        quality: 0.6,
        width: 1080,
        height: 1920,
        resize: "cover",
        success(result) {
          const formData = new FormData();
          formData.append('photo', result, result.name);
          fetch('/', {method:'POST', body: formData}).then(({url})=> window.location=url)
        },
        error:console.error
      });
    };
  </script>
  <title>Citrouille</title>
</head>
<body>
  <main class="mx-auto max-w-sm mt-8 px-4 overflow-x-hidden">
    <header class="flex justify-between mb-4 items-center">
      <h1 class="text-3xl">Citrouille</h1>
      <label class="link link-primary">Add
        <input type="file" class="hidden" onchange="compressFile(event)"/>
      </label>
    </header>
    <article class="grid gap-8">
      <div class="relative h-[75vh]" id="container">
        {{#each files}}
        <img  
          class="transition-all rounded-xl absolute left-1/2 -translate-x-1/2 shadow-md border border-black" 
          src="/images/{{this}}"    
          style="aspect-ratio: 9/16; top: calc(var(--nth-child) * 1rem); height: calc(65vh + 12px * var(--nth-child)); z-index: calc(100 + var(--nth-child))"
          data-id="{{this}}"
        />
        {{/each}}
      </div>
      <div id="nav" class="flex justify-between" x-data="{ nextFile: document.querySelectorAll('img')}">
        <a 
          @click.prevent=""
          hx-get="/"
          hx-select="#container img:first-child"
          hx-target="#container"
          hx-swap="afterbegin"
          hx-on::config-request="
            const container = document.getElementById('container');
            container.removeChild(container.lastElementChild);
            const nextFile = container.lastElementChild.attributes['data-id'].value
            event.detail.path = '/?file='+nextFile
          "
          hx-select-oob="#file-form"
          class="btn btn-accent"
        >Next</a>
        {{!-- <a href="/" class="btn btn-primary">Keep</a> --}}
      </div>
      <form class="grid gap-6" hx-put="/{{details.id}}" id="file-form">
        <textarea rows="10" class="rounded-md p-2" name="note" placeholder="Notes ...">{{details.note}}</textarea>
        <div class="flex items-center gap-2 justify-center" x-data="{ difficulty: {{details.difficulty}} }">
          <template x-for="index in 3">
          <label class="group cursor-pointer">
            <img x-show="difficulty >= index" height="50" width="50" src="/assets/pumpkin-color.svg"/>
            <img x-show="difficulty < index" height="50" width="50" src="/assets/pumpkin-plain.svg"/>
            <input x-model="difficulty" type="radio" :value="index" class="hidden"/>
          </label>  
          </template>
        </div>
        <button href="/" class="btn btn-primary">Save</button>
      </form>
    </article>
    <div class="mt-8 text-center">
      <button hx-delete="/{{details.id}}" class="link link-error" hx-confirm="No more of this BDK 😢?">Delete</button>
    </div>
  </main>
  
</body>
</html>